@model List<BasketDetailVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal endTotal = 0;
   
}

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Cart</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- cart main wrapper start -->
    <div class="cart-main-wrapper section-padding">
        <div class="container">
            <div class="section-bg-color">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Cart Table Area -->
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Thumbnail</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total(Discount 10%)</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (BasketDetailVM product in Model)
                                    {
                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="~/assets/img/product/@product.Image" alt="Product" /></a></td>
                                        <td class="pro-title"><a href="#">@product.Name</a></td>
                                        <td class="pro-price"><span>$@product.Price.ToString("0.#####")</span></td>
                                        <td class="pro-quantity">
                                            <div class="pro-qty"><input type="text" value="1"></div>
                                        </td>
                                        <td class="pro-subtotal"><span>$@((product.Total-((product.Total * 10)/100)).ToString("##.00"))</span></td>
                                        <td class="pro-remove">
                                            <form style="display: inline-block;" asp-controller="Basket" asp-action="Delete" asp-route-id="@product.Id" method="post">
                                                <button type="submit" class="minicart-remove"><i class="ion-android-close"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- Cart Update Option -->
                        <div class="cart-update-option d-block d-md-flex justify-content-between">
                            <div class="cart-update">
                                <a asp-controller="Basket" asp-action="Index" class="btn">Update Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 ml-auto">
                        <!-- Cart Calculation Area -->
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                                <h3>Cart Totals</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        @foreach (var total in Model)
                                        {
                                            endTotal += total.Total - ((total.Total * 10) / 100);

                                        }
                                        <tr class="total">
                                            <td>Total</td>
                                            <td class="total-amount">$@endTotal.ToString("0.#####")</td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                            <a href="checkout.html" class="btn d-block">Proceed Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img style="width:100px;height:100px" src="~/img/@item.Image" alt="product image" />
                </th>
                <td>@item.Title</td>
                <td>@item.Count</td>
                <td>@item.Price.ToString("0.#####") ₼</td>
                <td>@item.Total.ToString("0.#####") ₼</td>
            </tr>
            endTotal += item.Total;
        }

        <h2>Total price: @endTotal.ToString("0.#####") ₼</h2>

    </tbody>*@
    <!-- cart main wrapper end -->
</main>

