@model IEnumerable<TellUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid my-3 mx-3">
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Message
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.Subject
                    </td>
                    <td>
                        @item.Message
                    </td>

                </tr>
                }

            </tbody>
        </table>
    </div>
</div>

